<template name="login">
 <div class="container">
            
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="lineModalLabel">Login &amp; Register</h3>
                </div>
                <div class="modal-body">      
                    <div class="register">
                           <div class="col-md-6 login-right">
                           <h4>Login</h4>
                            <form id="login">
                              <div>
                                <span>Username<label></label></span>
                                <input type="text" id="uname"> 
                              </div>
                              <div>
                                <span>Password<label></label></span>
                                <input type="password" id="password"> 
                              </div>
                              <input type="submit" value="Login">
                            </form>
                           </div>
                           <div class="col-md-6 login-right">
                            <h4>Register</h4>
                            <form>
                              <div>
                                <span>Username<label></label></span>
                                <input type="text" id="username"> 
                              </div> 
                              <div>
                                <span>First name<label></label></span>
                                <input type="text" id="fname"> 
                              </div>
                              <div>
                                <span>Last name<label></label></span>
                                <input type="text" id="lname"> 
                              </div>
                               <div>
                                <span>Email<label></label></span>
                                <input type="text" id="email"> 
                              </div>
                              <div>
                                <span>Password<label></label></span>
                                <input type="password" id="password"> 
                              </div>
                              <input type="submit" value="Register" id="btnRegister">
                            </form>
                        </div>   
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
       </div>
</template>